body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color: #F4F6FF;
}

p {
    margin: 0;
    padding: 0;
}

.font-family {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 28px;
}

.text-sm {
    font-size: 16px;
}

.text-base {
    font-size: 18px;
}

.text-lg {
    font-size: 24px;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.main-header {
    width: 100%;
    background-color: #F3C623;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.main-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    max-width: 100%;
    padding: 8px 64px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    align-content: center;
}

.main-article-header {
    height: 30vh;
    text-align: center;
    align-content: center;
}


/* Home Section */
.main-article {
    padding: 0 128px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.banner-offer-container {
    width: 60%;
}

/* Banner Section */
.banner-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 10px #c0c0c0;
}

.banner-autoslide {
    height: 70%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

.banner-review {
    height: 30%;
    width: 90%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.banner-review-profile {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-details p{
    margin: 0;
}

.offer-container li {
    margin-bottom: 8px;
}

/* Contact Us Section */
.contact-us-container {
    width: 35%;
}

.contact-us-wrapper {
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: #d0d0d0;
    border-radius: 10px;
}

.contact-us-wrapper p {
    margin: 0;
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 8px;
}

input {
    max-width: 100%;
    height: 30px;
    padding-left: 10px;
    margin-top: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

input::placeholder {
    font-style: italic;
}

select {
    width: 100%;
    height: 30px;
    padding: 0 8px;
    margin-top: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.btn-submit {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    background-color: #10375C;
    border: 1px solid #10375C;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

/* Our Package Section */
.our-package-article {
    height: 100vh;
    padding: 0 128px;
    background-color: #F3C623;
}

.our-package-header {
    height: 25%;
    text-align: center;
    align-content: center;
}

.our-package-content {
    height: 75%;
    display: flex;
}

.our-package-content ul{
    height: 75%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.our-package-items {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.our-package-items p {
    margin: 0;
}

.package-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    background-color: #F4F6FF;
    border-radius: 50%;
}

.package-description {
    width: 85%;
}

/* Call Us Section */
.call-us-article {
    height: 50vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.call-us-header {
    width: 60%;
    text-align: center;
    align-self: center;
}

.call-us-header p[class="h3 text-bold"] {
    padding-bottom: 16px;
}

.call-us-content {
    text-align: center;
}

.call-us-content button {
    width: 20%;
    height: 50px;
    margin: 0;
}


/* Footer Section */
footer {
    padding: 16px 0 ;
    background-color: #10375C;
    justify-items: center;
    text-align: center;
}

footer p {
    margin: 0;
}

.footer-logo {
    width: 60px;
    height: 30px;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    border-radius: 50%;
}

.footer-description {
    width: 16%;
    display: flex;
    justify-content: space-between;
}

.footer-description a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        padding: 8px 16px;
    }

    nav {
        width: 50%;
    }

    .main-article {
        padding: 32px;
        display: block;
    }

    .banner-offer-container {
        width: 100%;
    }

    .banner-container {
        height: 600px;
    }

    .contact-us-container {
        width: 100%;
    }
    
    .our-package-article {
        height: auto;
        padding: 32px;
    }

    .our-package-header {
        padding-bottom: 32px;
    }

    .our-package-items {
        width: 100%;
    }

    .call-us-article {
        padding: 32px;
    }

    .call-us-header {
        width: 100%;
    }

    .call-us-content button {
        width: 50%;
        height: 40px;
    }

    .footer-description {
        width: 45%;
    }
}